body {
  margin: 1vw 10vw 0px 10vw;
  padding: 0px;
  background-color: black;
  background-size: repeat;
  background-position: center;
  color: #000;
}

h1{
  color: white;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}
h2{
  color: white;
  font-weight: lighter;
  margin-left: 10vw;
  margin-right: 10vw;
}

.instructionBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}


.buttonClick{
  border-radius: 3vw;
  border-color: white;
  border-width: medium;
  border-style: solid;
  width: 10vw;
  text-align: center;
  padding: 15px;

}

a{
  color: white;
  text-decoration: none;
}

.buttonClick:hover{
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;

}

.gifBox{
  text-align: center;
}

.fiveColumnContainer{
  display: flex;
  margin:2vmin;

}
.cardImage{
  display: block;
  width: 100%;
  padding: 1vmin;

}

h3{
  color: white;
  font-style: italic;
  text-align: center;
}

p{
  color: white;
  text-align: center;
}
